{% extends "base.html" %}

{% block title %}Termos de Parceria e Isenção de Responsabilidade - Honoriel{% endblock %}

{% block content %}
<section class="legal-page">
  <div class="container" style="text-align: justify;">

    <h3>TERMO DE CONSENTIMENTO - PROTEÇÃO DE DADOS (LGPD)</h3><br>
    <p>
      Ao preencher esta ficha de cadastro, você autoriza, de forma livre, informada e inequívoca, que a Honoriel
      Soluções
      em
      RH colete, armazene e utilize os dados pessoais aqui fornecidos com a finalidade exclusiva de participação em
      processos
      seletivos, orientação de carreira, contato profissional e eventual encaminhamento para oportunidades compatíveis
      com
      seu
      perfil.<br>
      Seus dados serão tratados com total sigilo e segurança, em conformidade com a Lei Geral de Proteção de Dados (LGPD
      -
      Lei
      nº 13.709/2018), e não serão compartilhados com terceiros sem sua autorização prévia, exceto quando necessário
      para
      viabilizar sua participação em processos seletivos junto a empresas parceiras.<br>
      Você poderá, a qualquer momento, solicitar a atualização ou exclusão dos seus dados dos nossos registros, entrando
      em
      contato pelo e-mail: rhesolucoesconsultivas@gmail.com, aos cuidados de Renata Ribeiro.<br>
      Importante: Essas informações somente serão disponibilizadas à empresa se o candidato(a) for aprovado(a).<br><br>
    <h3>Responsabilidade do Candidato</h3><br>
    • Ao prosseguir com o preenchimento, você declara que todas as informações prestadas são verdadeiras, completas e
    de
    sua
    inteira responsabilidade, estando ciente de que qualquer omissão ou dado inverídico poderá resultar na
    desclassificação
    do processo seletivo.<br>
    • Você reconhece que é o único e exclusivo responsável caso disponibilize informações contrárias ou divergentes
    daquelas
    apresentadas na entrevista, quando do contato direto com a empresária(o) contratante.<br>
    <br>
    <strong>Concordância:</strong><br><br>
    • Declara estar de acordo em participar dos processos seletivos conduzidos pela consultoria, cumprindo as
    exigências
    e
    orientações apresentadas, reconhecendo que estas são parte integrante e necessária para a adequada condução das
    etapas
    de seleção.<br><br>
    • Por medida de segurança, transparência e agilidade no processo seletivo, você também concorda com a utilização
    de
    ferramenta/extensão tecnológica durante a entrevista, ciente de que todo o conteúdo conversado será transcrito, de
    forma
    a não se perder nenhum detalhe das informações, viabilizando um melhor aproveitamento para a construção do parecer
    técnico da consultoria.<br><br>
    <strong>Ao continuar com o preenchimento, você declara estar ciente e de acordo com todos os termos acima.</strong>
    </p>


  </div>
</section>
{% endblock %}